.container{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}
.buttons{
  display: flex;
  padding: 0px 34px;
  justify-content: space-between;
}
.button{
  border: none;
  background: #C4C4C4;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  cursor: pointer;
  color: #000000;
}